
    .body{
        background-color: rgba(245, 245, 245, 0.404);
        margin: 3% 5% 3% 5%;
        padding-bottom: 100px;
        position: relative;
    }
    span{
        color: red;
    }
    .text{
        padding: 10px;
        font-family: 'Encode Sans SC', sans-serif;
    }
   .div-last-name{
       position: absolute;
       top: 28px;
       left: 30%;
   }
   .fa1{
       color: goldenrod;
       padding: 10px;
   }
    .satisfied{
            position: relative;
            font-family:'Encode Sans SC', sans-serif;
            padding: 10px;
    }
    .likely{
            position: relative;
            font-family:'Encode Sans SC', sans-serif;
            padding: 10px;
            padding-top: 40px;
            padding-bottom: 30px;
    }
    .satisfied1{
            position: absolute;
            top: 30px;
            left: 20%;
            font-family:'Encode Sans SC', sans-serif;
    }
    .likely1{
            position: absolute;
            top: 60px;
            left: 20%;
            font-family:'Encode Sans SC', sans-serif;
    }
    .purchase{
            position: relative;
            top: 10px;
            font-family:'Encode Sans SC', sans-serif;
            padding: 10px;
            background-color: #eee;
    }
    .service{
            position: relative;
            top: 10px;
            font-family:'Encode Sans SC', sans-serif;
            padding: 10px;
            
    }
    .purchase1{
            position: absolute;
            top: 8px;
            left: 23%;
            font-family:'Encode Sans SC', sans-serif;
    }
    .suggestion{
            position: relative;
            top: 30px;
            left: 10px;
            bottom: 10px;
            font-family:'Encode Sans SC', sans-serif;
    }
  
